body {
  margin: 0;
  padding: 0;
  background: url("Login Page BG.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 75px;
  height: auto;
}

.slider-container {
  position: absolute;
  bottom: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 35px;
  background-color: #2F2E6B;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

.slider-toggle {
  display: none;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.slider-circle {
  width: 25px;
  height: 25px;
  margin-left:8px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.slider-toggle:checked + .slider-label {
  background-color: #7789FF;
}

.slider-toggle:checked + .slider-label .slider-circle {
  transform: translateX(30px);
}

.container {
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.top-image {
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-left: 150%;
  width: 450px; 
  height: auto; 
}

.signup-text {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  gap: 120px; 
}

.signup-text span {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: 1500;
}

.forgot-password {
  color: #f66f82;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: 1500;
}

.login-button {
  width: 50%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #f66f82;
  color: black;
  border: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #000000;
}

.login-button:hover {
  background-color: #f34e6f;
}
.or-continue-with {
  font-size: 14px;
  margin: 15px 0;
  color:white;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}

.social-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.social-icon:hover {
  opacity: 0.8;
}
.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 25px;
  border: 1px solid #000000;
  background-color: #fff;
}

.input-field:focus {
  border-color: #000000;
  outline: none;
}

.input-field::placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  color: #000000;
  font-weight: 600;
}
